<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Students List <br>
    <% @students.each do |student| %>
      <p><%= link_to student.name, student_path(student) %></p>
      <div class="button">
      <%= link_to "Delete", student_path(student), method: :delete %>
      </div>
      <% end %> <br>
      <%= link_to "Create a new student", new_student_path %>
  </body>
</html>
