<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Students List <br>
    <% @students.each do |student| %>
      <%= student.name %>
      <% end %>
  </body>
</html>
